#header {
    margin-top: 10%;
}

#profile_pic {
    width: 420px;
    height: 420px;
    margin-top: 10%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bio {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #666;
}

/* hr {
    border-top: 2px solid #777;
    width: 100%;
    margin: 20px auto;
} */

#work-experience {
    margin-top: 10%;
    font-size: 5%;
    color: #333;
}

#title {
    /* margin-left: 9%; */
    color: #333;
}

#role {
    /* margin-left: 9%; */
    color: #333
}

#job-description {
    /* margin-left: 9%; */
    margin-right: 10%;
    font-size: medium;
    color: #666;
    text-align: justify;
    margin-bottom: 1%;
}

#tech-stack {
    /* margin-left: 9%; */
    margin-right: 10%;
    font-size: medium;
    color: #666;
    text-align: justify;
    margin-bottom: 3%;
}

/* #sep {
    margin-right: 30%;
} */
