#header {
    margin-top: 10%;
}

#profile_pic {
    width: 420px;
    height: 420px;
    margin-top: 10%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bio {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #666;
}